@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url(./assets/fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: SF-Pro-Display-Medium;
  src: url(./assets/fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url(./assets/fonts/SF-Pro-Display-Regular.otf);
}

* {
  box-sizing: border-box;
  font-family: SF-Pro-Display-Regular;
}

.header {
  background: rgba(255, 255, 255, 0.836);
  height: 75px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.301);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.links {
  cursor: pointer;
}

.extra-button {
  padding: 2%;
  background: #0071e3;
  border-radius: 12px;
}

.hero-img {
  background: center / contain no-repeat url(./assets/sequence-images/large_0000.jpg);
  height: 100%;
  width: 85%;
}

.title, .tagline {
  position: relative;
  top: 20%;
}

.title {
  font-family: SF-Pro-Display-Medium;
  font-weight: bold;
}

.tagline {
  width: 75%;
  font-family: SF-Pro-Display-Bold;
  font-size: 7rem;
}

.summary {
  height: 80vh;
}

.summary-description, .video {
  font-family: SF-Pro-Display-Medium;
  font-size: 2.4rem;
  position: relative;
  top: 15%;
}

.video {
  font-size: 1.4rem;
  font-weight: bold;
}

.play {
  width: 30px;
}

.specs-img {
  background: center / contain no-repeat url(./assets/hero_stats_endframe__fphtv5z0kgmu_large.jpg);
  height: 100%;
  width: 100%;
}

.left {
  padding-left: 7%;
}

.right {
  padding-right: 7%;
}

.spec, .spec-details {
  font-family: SF-Pro-Display-Regular;
  font-weight: bold;
  font-size: 1.5rem;
}

.spec {
  font-family: SF-Pro-Display-Medium;
  color: black;
}

.break::before {
  content: "\A";
  white-space: pre;
}

.retina, .retina > p {
  font-family: SF-Pro-Display-Bold;
  font-size: 4.8rem;
}

.retina-img-content {
  position: relative;
  height: 200vh;
}

.retina-img-1 {
  background: top no-repeat url(./assets/display_pro__9ci00tik8gyi_large.jpg);
  background-size: 1900px 1200px;
  height: 165vh;
  margin: auto;
}

.retina-quote {
  position: absolute;
  top: 100px;
  left: 220px;
  font-family: SF-Pro-Display-Medium;
  font-size: 2.5rem;
}

.retina-quote-initial, .retina-quote-1, .retina-quote-2 {
  font-family: inherit;
  font-size: 3rem;
}

.retina-quote-initial::before {
  content: open-quote;
  position: absolute;
  left: -5px;
}

.retina-quote-initial::after {
  content: close-quote;
  position: relative;
}

.retina-quote-author {
  font-family: inherit;
  font-weight: bold;
}

.retina-quote-2 {
  font-size: 1.1rem;
}

.retina-img-2 {
  position: relative;
  top: 75px;
  background: top no-repeat url(./assets/display_hero_screen__eik3891ojtoy_large.jpg);
  background-size: 1000px 530px;
  height: 100vh;
  width: 100%;
}

.retina-img-case {
  position: absolute;
  top: 75px;
  background: center / contain no-repeat url(./assets/display_hero_hw__d73ne9vbdmgm_large.png);
  height: 100vh;
  width: 100%;
}

.highlight {
  font-weight: bold;
  color: black;
}
