@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url(./assets/fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: SF-Pro-Display-Medium;
  src: url(./assets/fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url(./assets/fonts/SF-Pro-Display-Regular.otf);
}

.hero-img {
  background-image: url(./assets/sequence-images/large_0000.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 85%;
}

.title, .tagline {
  position: relative;
  top: 20%;
}

.title {
  font-family: SF-Pro-Display-Medium;
  font-weight: bold;
}

.tagline {
  width: 75%;
  font-family: SF-Pro-Display-Bold;
  font-size: 7rem;
}

.film-summary {
  height: 80vh;
}

.summary, .video {
  padding: 0 7% 0 7%;
  position: relative;
  top: 15%;
}

.summary {
  font-size: 2.2rem;
}

.video {
  font-weight: bold;
}

.play {
  width: 30px;
}

.specs-img {
  background-image: url(./assets/hero_stats_endframe__fphtv5z0kgmu_large.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.left {
  padding-left: 7%;
}

.right {
  padding-right: 7%;
}

.spec, .spec-details {
  font-family: SF-Pro-Display-Regular;
  font-weight: bold;
  font-size: 1.5rem;
}

.spec {
  font-family: SF-Pro-Display-Medium;
  color: black;
}
